#header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px -2px gray;
}
#header .header-inner {
  width: 80%;
  display: flex;
}
#header .header-inner .logo {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 100%;
  max-lines: 100%;
}
#header .header-inner .nav {
  width: 75%;
  display: flex;
  align-items: center;
}
.main-menu {
  display: flex;
  justify-content: space-between;
}

.sub-menu {
  display: none;
}
.main-menu > li {
  margin-right: 15px;
  position: relative;
  color: #000;
  font-weight: 600;
  margin-right: 20px;
}
.main-menu > li > a {
  color: #06155b;
  text-decoration: none;
  text-transform: uppercase;
}
.main-menu > li > a.active {
  color: #0b249e;
}
.sub-menu {
  display: none;
  z-index: 100;
}

.main-menu > li:hover .sub-menu {
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #f4f4f4;
  width: max-content;
  padding: 1rem 0;
}

.sub-menu li {
  border-bottom: 1px solid #000;
  padding: 0.5rem 1rem;
}
.sub-menu li a {
  text-decoration: none;
  color: black;
  font-family: archivo;
}
.sub-menu li:first-child {
  border-top: none;
}
.sub-menu li:last-child {
  border-bottom: none;
}
/* css slide */
.carousel-control-prev,
.carousel-control-next {
  width: 100px;
}

/* css body2 */
#intro {
  padding: 5%;
}
#intro h3 {
  text-align: center;
  font-weight: 700;
  color: #3e3d3d;
}
#intro h5 {
  text-align: center;
  font-weight: 700;
  color: #3e3d3d;
}
.row.section-2 {
  padding: 0 15%;
  justify-content: space-between;
  margin-top: 30px;
}

/* css body3 */
#body3 {
  margin-top: 40px;
  padding-top: 30px;
  height: 872px;
  background: rgb(0, 13, 117);
  background: linear-gradient(
    180deg,
    rgba(0, 13, 117, 1) 6%,
    rgba(101, 55, 154, 1) 64%
  );
}
#body3 .container .row {
  margin-top: 30px;
  width: 100%;
}
#body3 .container .row .col .mb-3 h4 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffff;
  font-size: 1.5rem;
}
#body3 .container .row .col .mb-3 h5 {
  border: 2px solid #f5ec10;
  font-weight: 600;
  border-width: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #f5ec10;
  margin: 0 7rem;
  padding: 0.5rem 3srem;
  font-weight: bolder;
  font-size: 1.75rem;
}
#body3 .container .row .col .mb-3 a {
  font-size: 1rem;
  font-weight: bold;
  background-color: #edb017;
  color: #0a0a0a;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0.5rem 0rem;
}
#body3 .container .row .col .mb-3 a:hover {
  background-color: #008fca;
  color: #fff;
}
#body3 .container .col img {
  height: 80%;
  max-width: 100%;
  vertical-align: middle;
}
.list-count {
  margin-top: -4rem !important;
}
.tmp .count {
  position: relative;
  padding: 0rem 1rem;
  font-size: 4rem;
  line-height: 4rem;
  color: #ffc307;
  font-weight: 700;
}
.tmp .count span {
  font-size: 2rem;
}
.tmp .count::before {
  content: "";
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  width: 3px;
  height: 40%;
  background-color: #fff;
}
.tmp p {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}
/* css body4 */
#body4 {
  width: 100%;
  height: 410px;
  padding-top: 20px;
}
#body4 .container {
  height: 100%;
}
#body4 .child {
  align-items: center;
}
#body4 .col-md-8 .col-12 {
  display: flex;
  justify-content: center;
  align-content: center;
}
#body4 .border-right {
  border-right: 2px solid #edb017;
  padding: 2rem 2rem;
}
#body4 .border-right h4 {
  color: #0b249e;
  font-size: 2rem;
}
#body4 .col-md-7 p {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.5rem;
  font-style: italic;
}
.btn-primary {
  vertical-align: baseline;
  font-size: 100%;
  background-color: #0c9841;
  color: white;
  border-radius: 5px;
  padding: 14px 20px 14px 20px;
  line-height: 1.3rem;
  border: none;
}
.btn-primary:hover {
  background-color: #ff7b06;
  hyphens: manual;
}
/* css body5 */
#body5 {
  height: 600px;
  padding-top: 5rem;
  background: rgb(25, 57, 180);
  background: linear-gradient(
    180deg,
    rgba(25, 57, 180, 1) 7%,
    rgba(18, 155, 186, 1) 100%
  );
}
#body5 video {
  width: 100%;
  margin-right: 1rem;
  height: auto;
}
.col > p {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.body5-box {
  display: flex;
  justify-content: center;
}
.body5-box .box-icon {
  margin-top: 1rem;
  aspect-ratio: 1;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  background-color: #fff;
  color: #008fca;
  margin-right: 1rem;
}
.body5-box .box-icon i {
  font-size: 3rem;
}
.body5-box .box-content h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: white;
}
.body5-box .box-content p {
  color: white;
  font-size: 1rem;
}
/* css body6 */
#body6 {
  margin-bottom: 5%;
  margin-bottom: 5%;
  height: 190px;
  width: 100%;
  align-content: flex-start;
  padding: 10% 0 10% 0;
  font-weight: 600;
}
#body6 p {
  width: 100%;
  margin-bottom: 6px;
  text-align: center;
  font-size: 1.2rem;
}
#body6 h3 {
  width: 100%;
  margin-top: 28.35px;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
#body6 a {
  color: #000;
  line-height: 1.5em;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
}
#body6 .box-body6 {
  text-align: center;
  background-color: #fff006;
  display: flex;
  justify-content: center;
  margin: 0 25%;
}
/* css body7 */
#body7 {
  padding-top: 5%;
  height: 1015px;
  background: rgb(74, 28, 212);
  background: linear-gradient(
    180deg,
    rgba(74, 28, 212, 1) 7%,
    rgba(23, 193, 220, 1) 95%
  );
}
#body7 h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}
#primary-one {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

/* css body8 */

#body8 h4 {
  width: 100%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #000;
  margin: 2rem 0;
  text-align: center;
}
#body8 .body8-nav {
  padding: 2% 8%;
}
#body8 .body8-nav .card {
  margin-left: 30px;
}
#body8 .card img {
  max-width: 100%;
  height: auto;
  padding: 5px;
}

/* css body9 */
#body9 {
  height: 302px;
}
#body9 h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
#body9 .carousel-inner img {
  height: 126px;
  max-width: 100%;
}
/* css body10 */
#body10 {
  width: 100%;
  height: 400px;
  padding: 40px 0 50px 0;
  position: relative;
  background-color: #2f319e;
  margin-top: 5rem;
}
#body10 h5 {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1.2rem;
}
#body10 ul {
  padding-left: -1rem;
}
#body10 li {
  padding: 0.7rem 0;
}
#body10 li a {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}
#body10 .mb-3 h4 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffff;
  font-size: 1.5rem;
}
#body10 .mb-3 a {
  font-size: 1rem;
  font-weight: bold;
  background-color: #edb017;
  color: #0a0a0a;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0.5rem 0rem;
}
#body10 .mb-3 a:hover {
  background-color: #008fca;
  color: #fff;
}
#body10 a {
  text-decoration: none;
}
